@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Oxanium';
  /* Choose a name for your font */
  src: url('./fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
}